<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3">
      <img
        id="fotoperfil"
        src="../../../assets/PNG/FotoPerfil.jpg"
        class="img-fluid;"
      />
    </div>
    <div id="datos" class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
      <p><b>Kevin Fleck</b></p>
      <p>Full Stack Developer Jr</p>
    </div>
    <div id="acerca" class="col-xs-12 col-sm-12 col-md-8 col-lg-7">
      <span>
        <h1>Acerca de mí</h1>
        <p id="parra">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex,
          perspiciatis rem. Provident omnis veniam sed aliquid tempora enim odit
          quisquam eius. Repellendus totam aperiam quibusdam optio tempora
          deleniti blanditiis facilis molestias, sequi pariatur obcaecati ea aut
          unde odit sapiente doloremque, nesciunt placeat esse, praesentium qui
          accusantium odio. Quae, non enim!
        </p>
      </span>
    </div>
  </div>
</div>
