<div class="container-fluid">
  <header>
    <div class="row">
      <!--Logo Icono Argentina Programa-->

      <div class="d-none d-sm-block col-lg-4">
        <a
          href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa"
          target="_blank"
          ><img id="logoAPtxt" src="../../assets/logoAPtxt.png" alt=""
        /></a>
      </div>

      <!--Redes Sociales-->

      <div
        id="social"
        class="d-flex justify-content-center col-lg-4 col-sm-6 col-xs-6"
      >
        <a href="https://www.facebook.com/FLEEKOO" target="_blank"
          ><i
            id="socialbtnFb"
            class="bi bi-facebook"
            style="font-size: 3rem; color: #3b5998"
          ></i
        ></a>
        <a
          href="https://www.linkedin.com/in/kevin-fleck-89459b164/"
          target="_blank"
          ><i
            id="socialbtnLk"
            class="bi bi-linkedin h1"
            style="font-size: 3rem; color: #0e76a8"
          ></i>
        </a>
        <a href="https://github.com/flecKevin" target="_blank"
          ><i
            id="socialbtnGh"
            class="bi bi-github h1"
            style="font-size: 3rem; color: #333"
          ></i>
        </a>
      </div>

      <!--Inicio de sesión-->

      <div id="loginbtn" class="col-lg-4 col-sm-6 col-xs-6">
        <button id="loginbtn" type="button" class="btn btn-danger">
          Login
        </button>
      </div>
    </div>
  </header>
</div>
