.container-fluid {
    background-image: url("../../assets/PNG/backround/header-backround.png");
    width: 100%;
    height: 80px;
    padding: 0;
}

.row {
    padding: 0;
    display: flex;
    flex-direction: row;
}

#logoAPtxt {
    width: 130px;
    color: snow;
}

#loginbtn {
    margin-top: 10px;
    text-align: end;
}

#loginbtn:hover {
    color: #750b0b;
}

#social {
    display: flex;
    align-items: center;
    color: snow;
}

#socialbtnFb {
    padding: 0.5rem;
}

#socialbtnLk {
    padding: 0.5rem;
}

#socialbtnGh {
    padding: 0.5rem;
}

/* Celular*/

.container-fluid {
    display: flex;
    flex-direction: column;
}

#loginbtn {

}

#social {

}