<div class="container-fluid">
  <div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-12">
      <ul>
        <li>
          <h1>Trabajo 1</h1>
          -
          <h3>(Año)</h3>
        </li>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates
          asperiores dolor excepturi id, fuga ab tenetur autem magnam dolorem
          sed doloribus! Obcaecati saepe ipsam magnam quia dolorum quam. Modi,
          adipisci!
        </p>
      </ul>
      <ul>
        <li>
          <h1>Trabajo 2</h1>
          -
          <h3>(Año)</h3>
        </li>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates
          asperiores dolor excepturi id, fuga ab tenetur autem magnam dolorem
          sed doloribus! Obcaecati saepe ipsam magnam quia dolorum quam. Modi,
          adipisci!
        </p>
      </ul>
      <ul>
        <li>
          <h1>Trabajo 3</h1>
          -
          <h3>(Año)</h3>
        </li>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates
          asperiores dolor excepturi id, fuga ab tenetur autem magnam dolorem
          sed doloribus! Obcaecati saepe ipsam magnam quia dolorum quam. Modi,
          adipisci!
        </p>
      </ul>
    </div>
  </div>
</div>
