<div class="row">
  <div id="skills" class="text-center col-lg-12 col-m-12 col-s-12">
    <h1>Hard & Soft Skills</h1>
  </div>
  <div id="html" class="text-center col-lg-6 col-md-6 col-s-12">
    <circle-progress
      [percent]="94"
      [radius]="120"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#54b526'"
      [innerStrokeColor]="'#FFFFFF'"
      [animation]="true"
      [animationDuration]="300"
      [showImage]="true"
      [imageSrc]="'/assets/PNG/lang-logo/HTML-logo.png'"
      [imageHeight]="200"
      [imageWidth]="200"
      [backgroundPadding]="0"
    ></circle-progress>
  </div>

  <div id="css" class="text-center col-lg-6 col-md-6 col-s-12">
    <circle-progress
      [percent]="80"
      [radius]="120"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#54b526'"
      [innerStrokeColor]="'#FFFFFF'"
      [animation]="true"
      [animationDuration]="300"
      [showImage]="true"
      [imageSrc]="'/assets/PNG/lang-logo/CSS-logo.png'"
      [imageHeight]="220"
      [imageWidth]="220"
      [backgroundPadding]="0"
    ></circle-progress>
  </div>

  <div id="js" class="text-center col-lg-6 col-md-6 col-s-12">
    <circle-progress
      [percent]="85"
      [radius]="120"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#54b526'"
      [innerStrokeColor]="'#FFFFFF'"
      [animation]="true"
      [animationDuration]="300"
      [showImage]="true"
      [imageSrc]="'/assets/PNG/lang-logo/JavaScript-logo.png'"
      [imageHeight]="200"
      [imageWidth]="200"
      [backgroundPadding]="0"
    ></circle-progress>
  </div>

  <div id="ng" class="text-center col-lg-6 col-md-6 col-s-12">
    <circle-progress
      [percent]="90"
      [radius]="120"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#54b526'"
      [innerStrokeColor]="'#FFFFFF'"
      [animation]="true"
      [animationDuration]="300"
      [showImage]="true"
      [imageSrc]="'/assets/PNG/lang-logo/Angular-logo.png'"
      [imageHeight]="250"
      [imageWidth]="250"
      [backgroundPadding]="0"
    ></circle-progress>
  </div>

  <div id="ts" class="text-center col-lg-6 col-md-6 col-s-12">
    <circle-progress
      [percent]="80"
      [radius]="120"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#54b526'"
      [innerStrokeColor]="'#FFFFFF'"
      [animation]="true"
      [animationDuration]="300"
      [showImage]="true"
      [imageSrc]="'/assets/PNG/lang-logo/Typescript-logo.png'"
      [imageHeight]="200"
      [imageWidth]="200"
      [backgroundPadding]="0"
    ></circle-progress>
  </div>

  <div id="java" class="text-center col-lg-6 col-md-6 col-s-12">
    <circle-progress
      [percent]="94"
      [radius]="120"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#54b526'"
      [innerStrokeColor]="'#FFFFFF'"
      [animation]="true"
      [animationDuration]="300"
      [showImage]="true"
      [imageSrc]="'/assets/PNG//lang-logo/JAVA-logo.png'"
      [imageHeight]="200"
      [imageWidth]="200"
      [backgroundPadding]="0"
    ></circle-progress>
  </div>

  <div id="sql" class="text-center col-lg-6 col-md-6 col-s-12">
    <circle-progress
      [percent]="94"
      [radius]="120"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#54b526'"
      [innerStrokeColor]="'#FFFFFF'"
      [animation]="true"
      [animationDuration]="300"
      [showImage]="true"
      [imageSrc]="'/assets/PNG/lang-logo/MYSQL-logo.png'"
      [imageHeight]="210"
      [imageWidth]="210"
      [backgroundPadding]="0"
    ></circle-progress>
  </div>

  <div id="spboot" class="text-center col-lg-6 col-md-6 col-s-12">
    <circle-progress
      [percent]="94"
      [radius]="120"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#54b526'"
      [innerStrokeColor]="'#FFFFFF'"
      [animation]="true"
      [animationDuration]="300"
      [showImage]="true"
      [imageSrc]="'/assets/PNG/lang-logo/Springboot-logo.png'"
      [imageHeight]="200"
      [imageWidth]="200"
      [backgroundPadding]="0"
    ></circle-progress>
  </div>
</div>
