.container-fluid {
    width: 100%;
    padding: 0;
    display: block;
    margin: 0%;
    background-color: #02152e;
}

h1 {
    margin: 0;
    color: snow;
}

.row {
    width: 100%;
    padding: 0px;
    display: flex;
    margin: 0;
}

#skills {
    height: 50px;
    text-align: center;
    margin: 0;
}

#html {
    height: 200px;
    padding: 0px; 
}

#css {
    height: 200px;
    padding: 0px;   
}

#js {
    height: 200px;
    padding: 0;
}

#ng {
    height: 200px;
    padding: 0px;     
}

#ts {
    height: 200px;
    padding: 0px;    
}

#java {
    height: 200px;
    padding: 0px;    
}

#sql {
    height: 200px;
    padding: 0px;    
}

#Github {
    height: 200px;
    padding: 0px;
}
